@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}
/* heading and logo. */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #3a3a3a;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    
}

/* Navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color: inherit;
    
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
    color: inherit
}

.active {
    border-bottom: 1px solid #3a3a3a;
}
#menu a {
    text-decoration: none;
    
}

/* hero image */

.hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
 color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.png') no-repeat;
    background-size: cover;
    background-position: center bottom;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


/* Creates the level of zoom for Hero image. */
@keyframes hero-zoom {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, .7);

    bottom: 30px;
    right: 150px;
    position: absolute;
}

/* Consoles. */
#gaming-consoles {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}
#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}
#center-about{
    width: 20%;
    margin:0 auto;
    text-align: center;
    padding-top: 100px;
}

.center-about-heading {
    position: absolute;
}

#nintendo-image {
    height: 600px;
    width: 100%;
    background: url('../images/nintendo.jpg') no-repeat;
    background-size: cover;
    background-position:center center;
}

#xbox-image {
    height: 600px;
    width: 100%;
    background: url('../images/xbox-logo.jpg') no-repeat;
    background-size: cover;
    background-position:center center;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#pc-image {
    height: 600px;
    width: 100%;
    background: url('../images/pc-logo.jpg') no-repeat;
    background-size: cover;
    background-position:center center;
}

#playstation-image {
    height: 300px;
    width: 100%;
    background: url('../images/playstation-logo.png') no-repeat;
    background-size: contain;
}

.phead {
    background-color: black;
    color: #fff;
}

#oculus-image {
height: 300px;
width: 100%;
background: url('../images/oculus-logo.jpg') no-repeat;
background-size: cover;
background-position:center center;
}

.right-about-heading {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    margin: 20px 0;
    text-align: center;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    border-radius: 50%;
}

/* footer */ 
footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

.footer-signup {
    position: absolute;
    bottom: -30px;
    text-align: center;
    display: inline;
    width: 50%;
    margin-left: 450px;
}

/* Form sign up */
.form-section {
    clear: left;
    background: url("https://www.gamespace.com/wp-content/uploads/2019/11/Gaming-Consoles-1024x576.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form, .login-form {
    margin: 150px 10% 0 0;
    color:#fff;
    background-color:rgba(60, 60, 60, 0.8);
    max-width:400px;
    position:absolute;
    left:10%;
    padding:30px;
}

.signup-form > h2, .login-form > h2 {
    color:#fafafa;
    margin-bottom:20px;
}

.text-input {
    background:transparent;
    color:#fafafa;
    width:100%;
    height:25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius:2px;
}

.text-input:hover {
    border-color:#f16c6b;
}

.join-button {
    margin-top:20px;
    border-radius:2px;
    padding: 15px 32px 15px 32px;
    text-align:center;
    font-size:100%;
    background-color:#f16c6b;
    color:#fafafa;
    display:block;
}

.join-button:hover {
    background-color:#fafafa;
    color:#f16c6b;
}

form p, form a {
    margin-top: 10px;
}

form > a {
    color: #fff;
}

form > a:hover {
 color: blue;
}

/*Forum CSS */

#header-forum {
 border: 5px solid #3f3f3f;
 text-align: center;
 color: black;
 background-color: #fff;
 padding: 10px 0 10px 0;
}

#forum-container {
    position:relative;
    margin:0 auto;
    text-align: center;
    clear: both;
    width: 66%;
    background-color: #3a3a3a;
    color: #fff;
    border: 1px solid #3a3a3a;
}

#forum-container h1 {
    color: #fff;
    padding-top: 10px;
}

#forum-container p {
    padding-bottom: 20px;
}

.forum-section {
    display: table;
    table-layout: fixed;
    text-align: left;
    border: 1px solid black;
    background-color: white;
    width: 100%;
    height: 50px;
    color: black;
    padding: 5px 10px 5px 10px;
    box-sizing:border-box;
}
.forum-section h5 {
    float: right;
    font-size: 120%;
}
.forum-section p {
    float: left;
    font-size: 120%;
}

/* Media queries */

/*for larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #gaming-consoles {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }
    #welcome {
        padding: 30px 0;
        margin: 0;
    }
    
    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }
    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }
}

/*for medium screens size from 950px wide and down */
@media screen and (max-width:950px) {
    
    #menu {
        clear:left;
        float:left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 20px;
        font-size: 120%;
        letter-spacing: 0px;
    }

    #playstation-image {
        background: url(../images/playstation-logo.png) no-repeat;
        background-size: contain;
        background-position:center center;
        height: 280px;
    }

    #oculus-image {
        background: url(../images/oculus-logo.jpg) no-repeat;
        background-size:cover;
        background-position: center center;
        height: 280px;
    }

    #nintendo-image {
        background: url(../images/nintendo.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
        height: 280px;
        background-color: red;
    }

    #pc-image {
        background: url(../images/pc-logo.jpg) no-repeat;
        background-size: cover;
        background-position:center center;
        height: 280px;
        background-color: black;
    }

    #xbox-image {
        background: url(../images/xbox-logo.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
        height: 280px;
        background-color: black;
    }

    #menu li {
        margin-right: 15px;
    }

    #cover-text {
        left:0;   
    }
    #gaming-consoles {
        width: 90%;
        height: 1200px;
        margin: 0 auto;   
    }
    .left-about-heading, .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }

    .footer-signup {
        width: 66%;
        margin-left: 75px;
        margin-bottom: -75px;
    }
    #login-form {
        margin-bottom: 5px;
    }

    .signup-form {
        margin: 75px 10% 0 0;
    }

    .hero-outer {
        height: 280px;
    }
}

@media screen and (max-width:600px) {

    #playstation-image {
        background: url(../images/playstation-logo-small.png) no-repeat;
        background-size: contain;
        background-position:center center;
        height: 280px;
    }

    #oculus-image {
        background: url(../images/oculus-logo-small.jpg) no-repeat;
        background-size:cover;
        background-position: center center;
        height: 280px;
        background-color: black;
    }
    
}